<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JocysCom.Password.Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <JocysCom.Password.Generator.Properties.Settings>
      <setting name="PresetNameComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="CallNameComboBox" serializeAs="String">
        <value>EN: NATO</value>
      </setting>
      <setting name="AllowOnlyOneCopy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithWindowsState" serializeAs="String">
        <value>Minimized</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyOnGenerate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenPasswordListFileAfterSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateOnCopy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveProgramSettingsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GeneratePasswordOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveProgramSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FavPreset1ComboBox" serializeAs="String">
        <value>Easy</value>
      </setting>
      <setting name="FavPreset2ComboBox" serializeAs="String">
        <value>Hard</value>
      </setting>
      <setting name="FavPreset3ComboBox" serializeAs="String">
        <value>Guid</value>
      </setting>
      <setting name="FavPreset1TextBox" serializeAs="String">
        <value>Easy</value>
      </setting>
      <setting name="FavPreset2TextBox" serializeAs="String">
        <value>Hard</value>
      </setting>
      <setting name="FavPreset3TextBox" serializeAs="String">
        <value>Guid</value>
      </setting>
      <setting name="CopyPasswordWhenStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowMultiEditPanelToolStripButtonCheckState" serializeAs="String">
        <value>Checked</value>
      </setting>
      <setting name="ContactsShowMultiEditPanelToolStripButtonChecked"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountsShowMultiEditPanelToolStripButtonChecked"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
    </JocysCom.Password.Generator.Properties.Settings>
  </userSettings>
  <system.web>
    <machineKey validationKey="DF7B47650A88D480E27CA79F35103AAD3FEFD77976B1C4F4BAB00AF47E7CAF0664C43EF2815A4FAE9619737DC19494518D7DDF8032BE926C8102E3EEFA872BE2" decryptionKey="2200B67D32F3C4C37B7CBEA343E19AF3AFAA2B7B8B16E502" validation="SHA1" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>