/.svn
/Generator/bin
/Generator/obj
/*.suo
/*.user
/Generator/*.suo
/Generator/*.user
/*.sdf
/.vs
/Generator/JocysCom/Collections/Arguments.txt
/Generator/JocysCom/Collections/SerializableDictionary.cs
/Generator/JocysCom/Collections/SortComparer.cs
/Generator/JocysCom/Common/EventArgs.cs
/Generator/JocysCom/Common/HiResDateTime.cs
/Generator/JocysCom/Common/TimeUnitType.cs
/Generator/JocysCom/Configuration/AppConfig.cs
/Generator/JocysCom/Configuration/AppRegEmail.txt
/Generator/JocysCom/Configuration/AppRegInfo.cs
/Generator/JocysCom/Configuration/AppRegistration.cs
/Generator/JocysCom/Configuration/CustomSettingsProvider.cs
/Generator/JocysCom/Configuration/OsVersion.cs
/Generator/JocysCom/Controls/DataGridView
/Generator/JocysCom/Controls/HtmlEditor
/Generator/JocysCom/Controls/MessageBoxFormImages
/Generator/JocysCom/Controls/ConnectionOptionsControl.cs
/Generator/JocysCom/Controls/ControlsHelper.cs
/Generator/JocysCom/Controls/Feedback.cs
/Generator/JocysCom/Controls/MessageBoxForm.cs
/Generator/JocysCom/Controls/MessageBoxForm1.Designer.cs
/Generator/JocysCom/Controls/PropertyLinkItem.cs
/Generator/JocysCom/Controls/PropertyLinkList.cs
/Generator/JocysCom/Controls/RegistrationControl.cs
/Generator/JocysCom/Controls/ScrollableUserControl.cs
/Generator/JocysCom/Mail/CDO
/Generator/JocysCom/Mail/BodyParts.cs
/Generator/JocysCom/Mail/MimeMessage.cs
/Generator/JocysCom/Mail/Pop3Client.cs
/Generator/JocysCom/Mail/Pop3Connection.cs
/Generator/JocysCom/Mail/Pop3Credentials.cs
/Generator/JocysCom/Mail/Pop3Exception.cs
/Generator/JocysCom/Mail/Pop3Response.cs
/Generator/JocysCom/Mail/Res.cs
/Generator/JocysCom/Mail/resources.resx
/Generator/JocysCom/Mail/resources.Designer.cs
/Generator/JocysCom/Processes/HiddenShell.cs
/Generator/JocysCom/Processes/KeyboardHook.cs
/Generator/JocysCom/Processes/KeyboardHookEventArgs.cs
/Generator/JocysCom/Processes/KeyboardHookStruct.cs
/Generator/JocysCom/Runtime/Attributes.cs
/Generator/JocysCom/Runtime/Attributes40.cs
/Generator/JocysCom/Runtime/ConsoleNativeMethods.cs
/Generator/JocysCom/Runtime/ConsolePoint.cs
/Generator/JocysCom/Runtime/ConsoleRectangle.cs
/Generator/JocysCom/Runtime/ConsoleScreenBufferInfo.cs
/Generator/JocysCom/Security/Encryption.cs
/Generator/JocysCom/Security/Helper.cs
/Generator/JocysCom/Security/HMACMD5.cs
/Generator/JocysCom/Security/ImpersonatedAction.cs
/Generator/JocysCom/Security/MD5.cs
/Generator/JocysCom/Security/Rijndael.cs
/Generator/JocysCom/Security/RijndaelSimple.cs
/Generator/JocysCom/Security/TokenControl.cs
/Generator/JocysCom/Text/HtmlCensor
/Generator/JocysCom/Win32/ABE.cs
/Generator/JocysCom/Win32/ABM.cs
/Generator/JocysCom/Win32/ABS.cs
/Generator/JocysCom/Win32/APPBARDATA.cs
/Generator/JocysCom/Win32/CR.cs
/Generator/JocysCom/Win32/DBCH_DEVICETYPE.cs
/Generator/JocysCom/Win32/DBT.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_DEVICEINTERFACE.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_HANDLE.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_HDR.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_OEM.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_PORT.cs
/Generator/JocysCom/Win32/DEV_BROADCAST_VOLUME.cs
/Generator/JocysCom/Win32/DEVCLASS.cs
/Generator/JocysCom/Win32/DeviceNodeStatus.cs
/Generator/JocysCom/Win32/DIGCF.cs
/Generator/JocysCom/Win32/NativeMethods.cs
/Generator/JocysCom/Win32/RECT.cs
/Generator/JocysCom/Win32/REG.cs
/Generator/JocysCom/Win32/SafeLibraryHandle.cs
/Generator/JocysCom/Win32/SID_AND_ATTRIBUTES.cs
/Generator/JocysCom/Win32/SP_CLASSINSTALL_HEADER.cs
/Generator/JocysCom/Win32/SP_DEVICE_INTERFACE_DATA.cs
/Generator/JocysCom/Win32/SP_DEVICE_INTERFACE_DETAIL_DATA.cs
/Generator/JocysCom/Win32/SP_DEVINFO_DATA.cs
/Generator/JocysCom/Win32/SP_PROPCHANGE_PARAMS.cs
/Generator/JocysCom/Win32/SP_REMOVEDEVICE_PARAMS.cs
/Generator/JocysCom/Win32/SPDRP.cs
/Generator/JocysCom/Win32/SW.cs
/Generator/JocysCom/Win32/SYSTEMTIME.cs
/Generator/JocysCom/Win32/TOKEN_ELEVATION.cs
/Generator/JocysCom/Win32/TOKEN_ELEVATION_TYPE.cs
/Generator/JocysCom/Win32/TOKEN_INFORMATION_CLASS.cs
/Generator/JocysCom/Win32/TOKEN_MANDATORY_LABEL.cs
/Generator/JocysCom/Win32/WIN32_FIND_DATA.cs
/Generator/JocysCom/Win32/WinNT.cs
/Generator/Documents/Files
